<h3>{{testVar}}</h3>
<div>
  <label>Search :  </label>
<input class="form-control" type="search" (input)="onSearch()"    [(ngModel)]="filterValue"  type="text">
</div>
<br>
<div>
  <label>Input :  </label>
<input class="form-control" [(ngModel)]="inputValue"  type="text">

<label>
  <button class="form-control" [disabled]="!inputValue" (click)="insertData()">Add</button>
</label>

</div>
<br>
<div>
<table frame="box" class="table" >
  <ng-container *ngIf="products.length > 0">
  <thead>
    <tr><th>Action</th><th  (click)="toogle()">{{show ? "Name": "No"}}</th><th>Ammount</th><th>Id</th></tr>
  </thead>
<tbody>
  
  <tr *ngFor="let n of products; let i = index;"  >
    <td>
      <button class="form-control" *ngIf="!n.showUpdate"  (click)=delete(i)>Delete</button>
      <button  class="form-control" *ngIf="!n.showUpdate"  (click)=toogleUpdate(i)>Update</button>
      <button class="form-control" *ngIf="n.showUpdate"  (click)=cancelUpdate(i)>Cancel</button>
      <button class="form-control" *ngIf="n.showUpdate"  (click)=saveRow(i)>Save</button>
    </td>
   
    <td>
      <div *ngIf="!n.showUpdate"  >{{n.name}}</div><div *ngIf="n.showUpdate"  ><input  class="form-control" [(ngModel)]="n.name" /></div></td>
       <td>
      <div *ngIf="!n.showUpdate"  >{{n.ammount|currency}}</div><div *ngIf="n.showUpdate"  ><input type="number" class="form-control" [(ngModel)]="n.ammount" /></div></td>
      <td >
        {{n.id}}
      </td>
    </tr>
  
 
</tbody>
  </ng-container>
     <ng-container *ngIf="products.length == 0">
  <tr >
   <td>No Elements on table to show!</td>
    </tr>
  </ng-container>
</table>
  </div>


  <div>
    <select><option>2</option></select>
    <pag-cm></pag-cm>
  </div>
  