<h3>{{testVar}}</h3>
<div>
  <label>Filter :  </label>
<input [(ngModel)]="filterValue"  type="text">
</div>
<br>
<div>
  <label>Input :  </label>
<input [(ngModel)]="inputValue"  type="text">

<label>
  <button [disabled]="!inputValue" (click)="insertData()">Add</button>
</label>

</div>
<br>
<table frame="box" style="margin-left:45px" >
  <ng-container *ngIf="products.length > 0">
  <thead>
    <tr><th>Action</th><th  (click)="toogle()">{{show ? "Name": "No"}}</th><th>Id</th></tr>
  </thead>
<tbody>
  
  <tr *ngFor="let n of products; let i = index;"  >
    <td>
      <button *ngIf="!n.showUpdate"  (click)=delete(i)>Delete</button>
      <button *ngIf="!n.showUpdate"  (click)=toogleUpdate(i)>Update</button>
      <button *ngIf="n.showUpdate"  (click)=cancelUpdate(i)>Cancel</button>
      <button *ngIf="n.showUpdate"  (click)=saveRow(i)>Save</button>
    </td>
   
    <td>
      <div *ngIf="!n.showUpdate"  >{{n.name}}</div><div *ngIf="n.showUpdate"  ><input  [(ngModel)]="n.name" /></div></td>
      <td >
        {{n.id}}
      </td>
    </tr>
  
 
</tbody>
  </ng-container>
     <ng-container *ngIf="products.length == 0">
  <tr >
   <td>No Elements on table to show!</td>
    </tr>
  </ng-container>
<table>
  